@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Signika&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  --colour-10: "#22577A";
  --colour-20: "#38A3A5";
  --colour-30: "#57CC99";
  --colour-40: "#80ED99";
  --colour-50: "#C7F9CC";
  --colour-60: "#FF595E";
  height: 100%;
  font-family: 'Signika', sans-serif;
  background: #c7f9cc;
}