html, body, #root {
  --colour-10: "#22577A";
  --colour-20: "#38A3A5";
  --colour-30: "#57CC99";
  --colour-40: "#80ED99";
  --colour-50: "#C7F9CC";
  --colour-60: "#FF595E";
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}